<LayoutComponents.header
  route={assigns[:route] || nil}
  current_user={assigns[:current_user] || nil}
/>

<.flash_group flash={@flash} />
<div class="isolate relative">
  <%= @inner_content %>
</div>
