<LayoutComponents.header
  route={assigns[:route] || nil}
  current_user={assigns[:current_user] || nil}
/>

<main class="w-full max-w-screen-lg mx-auto p-4 py-8">
  <.flash_group flash={@flash} />
  <%= @inner_content %>
</main>
