<LayoutComponents.header
  route={assigns[:route] || nil}
  current_user={assigns[:current_user] || nil}
/>

<.flash_group flash={@flash} />
<div class="isolate relative">
  <%= if assigns[:show_container] != false do %>
    <div class="w-full max-w-screen-lg mx-auto p-8">
      <%= @inner_content %>
    </div>
  <% else %>
    <%= @inner_content %>
  <% end %>
</div>
