@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: 0;
  @apply dark:bg-neutral-900 text-black dark:text-neutral-200;
  color-scheme: light dark;
}

:root {
  --rookie: #a84300;
  --mercenary: #3498db;
  --champ: #f1c40f;
  --elder: #1abc9c;
  --god: #9b59b6;
  --celestial: #6931b6;
}

::backdrop {
  @apply bg-black/50 backdrop-blur;
}

@layer components {
  .easy {
    @apply bg-green-400;
  }

  .headerNav {
    @apply rounded p-2 md:px-4 items-center gap-2;
  }

  .headerNav:hover,
  .headerNav.active {
    @apply bg-black/10;
  }

  .pageNav {
    @apply text-neutral-800 dark:text-neutral-300 px-4 py-2 flex items-center rounded hover:bg-black/5 dark:hover:bg-white/5;
  }

  .pageNav.active {
    @apply bg-black/5 dark:bg-black/20;
  }

  .prose table tbody tr td:first-child {
    @apply pl-2;
  }

  .prose table tbody tr td:last-child {
    @apply pr-2;
  }

  .prose table tbody tr:nth-child(even) {
    @apply bg-black/5 dark:bg-white/5;
  }

  .tooltip {
    writing-mode: horizontal-tb;
    @apply absolute bg-white text-neutral-900 dark:bg-neutral-800 dark:text-neutral-100 px-2 py-1 shadow rounded w-max pointer-events-none opacity-0;
    @apply transform-gpu py-2 px-3 transition-all group-hover:opacity-100 group-hover:translate-x-1 z-[500];
  }
}

#page-header {
  & .profile-button,
  & .login {
    position: relative;
    @apply h-10 bg-black/10 rounded hover:bg-black/20 flex items-center justify-center;
    & .avatar {
      aspect-ratio: 1/1;
      @apply w-10 h-10 overflow-hidden relative rounded flex items-center justify-center;
    }

    & .avatar img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    & .username,
    & .label {
      @apply py-3 p-4 hidden md:block;
    }
  }
}

tournament-header {
  position: sticky;
  display: block;
  top: 0;
  width: 100%;
  z-index: 10;

  & .menu-toggle {
    @apply w-6 h-6 flex;

    & :global(svg) {
      width: 100%;
      height: 100%;
    }
  }

  & .container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    @apply max-w-screen-lg gap-4 px-4 justify-between sm:justify-normal;
  }

  & nav {
    @apply hidden sm:flex;
  }

  & .logo {
    @apply w-12 h-12 aspect-square p-2 hidden sm:flex -mr-2  object-contain;
    @apply hover:bg-black/5 dark:hover:bg-black/10 items-center gap-2 font-semibold transition-all;
  }

  &:not(:state(scrolled)) .logo {
    @apply -mr-16 pointer-events-none opacity-0;
  }

  & .logo-separator {
    @apply transition-all w-px h-10 bg-black/10 dark:bg-white/5 mx-0 -ml-1 hidden sm:flex;
  }

  &:not(:state(scrolled)) .logo-separator {
    @apply opacity-0 -mx-2;
  }

  @apply bg-white text-neutral-800 dark:bg-neutral-800 dark:text-neutral-200 transition-colors shadow;

  &:state(scrolled) {
    z-index: 40;
  }
}

.card {
  @apply p-8 rounded shadow bg-white dark:bg-neutral-800;
}

.user-cutout {
  mask-image: url(data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%2022%2040%22%3E%3Cpath%20d=%22M1-1a10%2010%200%200%201%200%2042l199-1V0%22/%3E%3C/svg%3E),
    linear-gradient(white, white);
  --spread: theme(spacing.1);
  mask-position: 0 0, 1.375rem 0;
  mask-size: auto theme(spacing.10), 100% 100%;
  mask-repeat: no-repeat;
}

.country-badge {
  @apply bg-neutral-100 px-3 py-1.5 rounded flex flex-row gap-2 items-center h-9;

  &.unknown {
    @apply text-gray-500 text-sm gap-1.5;
  }
}

.fade-out-right {
  mask-image: linear-gradient(to right, #fff, #0000);
}

.dots-container {
  mask-image: linear-gradient(to bottom, #fff2, #0000);

  & .splashbg {
    @apply w-full h-full object-cover;
    transition-property: filter;
    transition-duration: 1000ms;
    transition-delay: 250ms;
  }

  & .dots {
    @apply text-black dark:text-white;
    pointer-events: none;
    background-image: radial-gradient(currentcolor 2px, transparent 2px);
    background-size: 2rem 2rem;
    background-position: left calc(50% + 528px) top 50%;
    mix-blend-mode: overlay;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @media (max-width: 1024px) {
      background-position: left 0 top 50%;
    }
  }
}

.gradient-transparent {
  mask-image: linear-gradient(#fff, transparent);
}

[data-highest-milestone="-1"] {
  color: var(--rookie);
}
[data-highest-milestone="0"] {
  color: var(--mercenary);
}
[data-highest-milestone="1"] {
  color: var(--champ);
}
[data-highest-milestone="2"] {
  color: var(--elder);
}
[data-highest-milestone="3"] {
  color: var(--god);
}
[data-highest-milestone="4"] {
  color: var(--celestial);
}

/* forms */
form,
.form-root {
  @apply prose dark:prose-invert mx-auto flex flex-col gap-6;

  & label {
    @apply gap-1.5 text-neutral-800 dark:text-neutral-300;
  }

  & input[type="text"],
  & input[type="email"],
  & input[type="password"],
  & textarea:not(input),
  & select:not(input),
  & .field {
    @apply block rounded bg-white dark:bg-neutral-800 shadow border-neutral-300 dark:border-neutral-600 m-0;
  }

  & input[type="checkbox"] {
    @apply block rounded  shadow border-neutral-300 dark:border-neutral-600;
  }

  & kbd {
    @apply bg-neutral-100 dark:bg-neutral-800 rounded px-1 whitespace-pre;
  }

  & .error {
    @apply shadow bg-red-100 dark:bg-red-900 px-3 py-2 rounded;
  }

  & button[type="submit"],
  & button[type="button"] {
    @apply px-3 py-1.5 bg-blue-600 text-white rounded shadow;
  }

  & .message {
    @apply bg-blue-100 dark:bg-blue-900 text-blue-900 dark:text-white px-4 py-2 rounded-lg;

    &.error {
      @apply bg-red-100 dark:bg-red-900 text-red-900 dark:text-white;
    }
  }
}

.uploadButton {
  @apply px-3 py-2  dark:bg-neutral-800 rounded shadow transition-all w-full;

  &:hover {
    @apply shadow-lg dark:bg-neutral-700;
  }
}
