.card {
  @apply p-8 rounded shadow bg-white dark:bg-neutral-800;
}

.country-badge {
  @apply bg-neutral-100 dark:bg-neutral-800 font-semibold px-3 py-1.5 rounded flex flex-row gap-2 items-center h-9;

  &.unknown {
    @apply text-gray-500 text-sm gap-1.5;
  }
}

.fade-out-right {
  mask-image: linear-gradient(to right, #fff, #0000);
}

.dots-container {
  mask-image: linear-gradient(to bottom, #fff6, #0000);

  & .splashbg {
    @apply w-full h-full object-cover;
    transition-property: filter;
    transition-duration: 1000ms;
    transition-delay: 250ms;
  }

  & .dots {
    @apply text-black dark:text-white;
    pointer-events: none;
    background-image: radial-gradient(currentcolor 2px, transparent 2px);
    background-size: 2rem 2rem;
    background-position: left calc(50% + 528px) top 50%;
    mix-blend-mode: overlay;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @media (max-width: 1024px) {
      background-position: left 0 top 50%;
    }
  }
}

.gradient-transparent {
  mask-image: linear-gradient(#fff, transparent);
}

[data-highest-milestone="-1"] {
  color: var(--rookie);
}
[data-highest-milestone="0"] {
  color: var(--mercenary);
}
[data-highest-milestone="1"] {
  color: var(--champ);
}
[data-highest-milestone="2"] {
  color: var(--elder);
}
[data-highest-milestone="3"] {
  color: var(--god);
}
[data-highest-milestone="4"] {
  color: var(--celestial);
}

.glow {
  filter: url(#glow);
}

.uploadButton {
  @apply px-3 py-2  dark:bg-neutral-800 rounded shadow transition-all w-full;

  &:hover {
    @apply shadow-lg dark:bg-neutral-700;
  }
}

.rulebook-tab {
  @apply flex p-1 px-3 rounded border-2 border-transparent items-center justify-center h-10;
  @apply hover:border-neutral-100 dark:hover:border-neutral-800;

  &[data-active] {
    @apply bg-neutral-100 dark:bg-neutral-800;
  }
}

footer {
  & .social-link {
    @apply w-6 h-6 mx-0.5 saturate-0 brightness-0 opacity-75 dark:invert dark:hover:invert-0 hover:brightness-100 hover:saturate-100 hover:opacity-100 transition-all;
  }
}
